.topnav {
    overflow: hidden;
    background-color: rgb(255, 255, 255);
   position: fixed;
   top: 100px;
   right: 2000px;
   padding: 10px;
  }
  
  .topnav a {
    float: left;
    color: #ff0000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    width: 20px;
    height: 20px;
    /* margin-left: 300px; */
    display: flex;
  }
  
  .topnav a:hover {
    border: 2px solid black;
  }
  
  .topnav a.active {
    background-color: #b8b8b8;
    color: #b8b8b8;
    font-family: 'futura', serif;
    color: black;
    text-align: center;
    font-size: 10pt;
  }
  .topnav a.red {
    background-color: #ff0000;
    color: white;
  }
  .topnav a.orange{
      background-color: rgb(255, 119, 0);
      color: white;
  }
  .topnav a.yellow{
    background-color: rgb(255, 196, 0);
    color: white;
}
.topnav a.green{
    background-color: rgb(80, 165, 5);
    color: white;
}
.topnav a.blue{
    background-color: rgb(0, 38, 255);
    color: white;
}
.topnav a.purple{
    background-color: purple;
    color: white;
}
.topnav a.pink{
    background-color: pink;
    color: white;
}

.topnav a.black{
    background-color: rgb(0, 0, 0);
    color: white;
}

.topnav a.brown{
    background-color: #964B00;
    color: white;
}

.topnav a.gray{
    background-color: #797979;
    color: white;
}
.topnav  a.rainbow{
background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
}
.topnav a.double{
    background-color: #b8b8b8;
    color: #b8b8b8;
    font-family: 'futura', serif;
    color: black;
    left: 50%;
    top: 50%;
    font-size: 10pt;
}
.topnav a.single{
    background-color: #b8b8b8;
    color: #b8b8b8;
    font-family: 'futura', serif;
    color: black;
    left: 50%;
    top: 50%;
    font-size: 10pt;
}
.example::-webkit-scrollbar {
    display: none;
  }

body {
    background-color: white;
    min-height: 100vh;
    width: 100%;
    /* overflow: hidden; */
}

h1 {
    font-family: 'Sovana';
    color: black;
    font-size: 150pt;
    text-align: left;
    margin-top: 100px;
    /* overflow: hidden; */
}

h2 {
    font-family: 'Sovana';
    color: rgb(0, 0, 0);
    font-size: 30pt;
    text-align: left;
    margin-top: 200px;
    margin-left: 500px;
    white-space: nowrap;
  /* overflow: hidden; */
  text-overflow: ellipsis;
  max-width: 200px;
  line-height: 40pt;
}
h3{
    font-family: 'Sovana';
    color: rgb(0, 0, 0);
    font-size: 15pt;
    text-align: left;
    margin-top: 500px;
    margin-left: -200px;
    max-width: 200px;
    white-space: nowrap;
}

p {
    font-size: 100pt;
    margin-top: 500px;
    margin-left: 500px;
}

.mySlides {
    display: none;
}

.container {
    display: flex;
    flex-wrap: no-wrap;
    overflow-x: auto;
    margin: 20px;
}

div.container a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

img {
    /* flex: 0 0 auto;
    width: auto;
    height: 400px;
    max-width: 100%;
    margin-right: 10px; */
    width: 200px;
    height: auto;
}

 :root {
    --margin: 10px;
}

html,
body {
    margin: 0;
    padding: 0;
}

.wrapper {
    /* margin: var(--margin); */
    position: absolute;
    display: flex;
    width: 100vw;
    left: 2000px;
    top: 300px;

}
/* button .w3-display-left{
    width: 50px;
    height: 50px;
    left: 300px;
    margin-top: 500px;
} */
.w3-display-left{
    position: absolute;
    left: 800px;
    top: 300px;
    color: rgb(0, 0, 0);
    background-color: white;
    width: 50px;
    height: 50px;
}
.w3-display-right{
    position: absolute;
    left: 1000px;
    top: 300px;
    color: rgb(0, 0, 0);
    background-color: white;
    width: 50px;
    height: 50px;
}

ul {
    list-style-type: none;
}

#contents {
    /* background-color: #333; */
    overflow: auto;
    white-space: nowrap;
    display: flex;
    /* grid-template-columns: repeat(5, minmax(0, 1fr));
    grid-gap: var(--margin); */
    align-items: flex-end;
    justify-items: start;
    padding: 0;
    /* margin-top: -1200px;
    margin-left: 500px; */
  
}
.block__image{
    /* margin-top: 100px;
    margin-left: 50px; */
   width: auto;
   height:400px;
}

.block {
    padding: var(--margin);
    background-color: white;
    
}

.backDoor
{
  /* background-color: #333; */
  position:relative;
  width:500px;
  height:300px;
  
  margin: 0 auto;
  margin-top:50px;
}

.door
{
  /* background-color: brown; */
  position:absolute;
  top:0px;
  left:0px;
  width:500px;
  height:300px;
 
  transform-origin: left;
  /*Speed of the Door animation*/
  transition: all 0.5s ease-in-out;
}

.doorOpen
{
  /*prespectiv creates the door open effect*/
  transform: perspective(1200px) translateZ(0px) translateX(0px) translateY(0px) rotateY(-105deg);
}

/* #arrowleft{

} */
