h2{
    font-family: "Avenir", sans-serif;
    width: 50%;
    padding: 10px;
    line-height: 30pt;
    text-align: justify;
    text-justify: inter-word;
    max-width: 60ch;
    position: absolute;
    text-indent: 40px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    
}
.dropbtn {
    background-color: white;
    /* color: white; */
    padding: 16px;
    font-size: 16px;
    border: none;
    
  }
  img{
    width: 50px;
    height: auto;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    z-index: 1;
    font-family: "Avenir", sans-serif;
  }
  
  .dropdown-content a {
    /* color: black; */
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content:hover, a:visited, a:link, a:active
    {
        color: black;
        text-decoration: none;
    }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {opacity: 1.0;}

#mydiv {
    position: absolute;
    z-index: 9;
    font-family: Arial, "Bold", sans-serif;
    font-size: 800pt;
    line-height: 120px;
    color: black;
  }
  
  #mydivheader {
    padding: 10px;
    cursor: grab;
    z-index: 10;
    margin-top: 200px;
    margin-left: 30px;
    transform: rotate(60deg);
  }

  #mydiv2 {
    position: absolute;
    z-index: 9;
    font-family: Arial, "Bold", sans-serif;
    font-size: 800pt;
    line-height: 120px;
    color: rgba(0, 0, 0, 0);
	-webkit-text-stroke: 5px black;
  }
  
  #mydivheader2 {
    /* padding: 10px; */
    cursor: grab;
    z-index: 10;
    margin-top: 500px;
    margin-left: 800px;
    transform: rotate(-30deg);
  }

  @media screen and (max-width: 1024px){
    body{
        margin-left: 20px;
        margin-right: 20px;
    }
    h2{
        font-family: "Avenir", sans-serif;
        font-size: 16pt;
        width: 50%;
        padding: 10px;
        line-height: 20pt;
        text-align: justify;
        text-justify: inter-word;
        max-width: 60ch;
        text-indent: 20px;
        margin:0 auto;
        margin-top: 200px;
        }
        #mydiv{
        font-size: 500pt;
        }
        #mydiv2{
        font-size: 500pt;
        margin-top: 200px;
        margin-left: -500px;
        }
    }