h1{
    font-family: "Avenir", sans-serif;
    width: 50%;
    padding: 10px;
    line-height: 30pt;
    text-align: center;
    max-width: 100ch;
    left: 50%;
    top: 100%;
    margin: auto;
}
* {
    box-sizing: border-box;
    
  }
  
  .column {
    float: left;
    width: 400px;
    padding: 10px;
    height: 300px; 
    margin: auto;
    border: 3px dotted black;
    height: 500px;
    top: 100%;

  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .row{
    display: flex;
    justify-content: center;
    width: 100%;

  }
h3{
    font-family: "Avenir", sans-serif;
    width: 50%;
    padding: 10px;
    line-height: 30pt;
    text-align: justify;
    text-justify: inter-word;
    max-width: 60ch;
    /* position: absolute; */
    text-indent: 40px;
    /* left: 50%; */
    top: 100%;
    margin: auto;
    /* transform: translate(-50%,-50%); */
}
h2{
    font-family: "Avenir", sans-serif;
    width: 50%;
    padding: 10px;
    line-height: 30pt;
    text-align: justify;
    text-justify: inter-word;
    max-width: 60ch;
    /* position: absolute; */
    text-indent: 40px;
    /* left: 50%; */
    top: 100%;
    margin: auto;
    /* transform: translate(-50%,-50%); */
}
.dropbtn {
    background-color: white;
    /* color: white; */
    /* padding: 16px; */
    font-size: 16px;
    border: none;
    /* position: absolute; */
    
    
  }
  img{
    width: 50px;
    height: auto;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    z-index: 1;
    font-family: "Avenir", sans-serif;
  }
  
  .dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content:hover, a:visited, a:link, a:active
    {
        color: black;
        text-decoration: none;
    }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {opacity: 1.0;}

  #mydiv {
    position: absolute;
    z-index: 9;
    text-align: center;
    font-family: Arial, "Bold", sans-serif;
    font-size: 100pt;
    line-height: 120px;
    color: black;
  }
  
  #mydivheader {
    padding: 10px;
    cursor: grab;
    z-index: 10;
    margin-top: 0px;
    margin-left: 100px;
  }
  #mydiv2 {
    position: absolute;
    z-index: 9;
    text-align: center;
    font-family: Arial, "Bold", sans-serif;
    font-size: 100pt;
    line-height: 120px;
    color: black;
  }
  
  #mydivheader2 {
    padding: 10px;
    cursor: grab;
    z-index: 10;
    margin-top: 0px;
    margin-left: 300px;
  }
  #mydiv3 {
    position: absolute;
    z-index: 9;
    text-align: center;
    font-family: Arial, "Bold", sans-serif;
    font-size: 100pt;
    line-height: 120px;
    color: black;
  }
  
  #mydivheader3 {
    /* padding: 10px; */
    cursor: grab;
    z-index: 10;
    margin-top: 0px;
    margin-left: 500px;
  }
  #mydiv4 {
    position: absolute;
    z-index: 9;
    text-align: center;
    font-family: Arial, "Bold", sans-serif;
    font-size: 100pt;
    line-height: 120px;
    color: black;
  }
  
  #mydivheader4 {
    /* padding: 10px; */
    cursor: grab;
    z-index: 10;
    margin-top: 10px;
    margin-left: 700px;
  }
  #mydiv5 {
    position: absolute;
    z-index: 9;
    text-align: center;
    font-family: Arial, "Bold", sans-serif;
    font-size: 100pt;
    line-height: 120px;
    color: black;
  }
  
  #mydivheader5 {
    /* padding: 10px; */
    cursor: grab;
    z-index: 10;
    margin-top: 0px;
    margin-left: 900px;
  }
  #mydiv6 {
    position: absolute;
    z-index: 9;
    text-align: center;
    font-family: Arial, "Bold", sans-serif;
    font-size: 100pt;
    line-height: 120px;
    color: black;
  }
  
  #mydivheader6 {
    /* padding: 10px; */
    cursor: grab;
    z-index: 10;
    margin-top: 0px;
    margin-left: 1100px;
  }

  @media screen and (max-width: 1024px){
    body{
        margin-left: 20px;
        margin-right: 20px;
    }
    h2{
        font-family: "Avenir", sans-serif;
        font-size: 16pt;
        width: 50%;
        padding: 10px;
        line-height: 20pt;
        text-align: justify;
        text-justify: inter-word;
        max-width: 60ch;
        text-indent: 20px;
        margin:0 auto;
    }
    #mydiv{
        font-size: 100pt;
        margin-left: -100px;
        }
        #mydiv2{
        font-size: 100pt;
        margin-left: -150px;
        
        }
        #mydiv3{
          font-size: 100pt;
          margin-left: -200px;
          }
        #mydiv4{
          font-size: 100pt;
          margin-left: -300px;
        }
        #mydiv5{
            font-size: 100pt;
            margin-left: -400px;
          }
        #mydiv6{
            font-size: 100pt;
            margin-left: -500px;
          }
  }