body{
    background-color: black;
    margin-left: 100px;
    margin-bottom: 50px;
}
h1{
    font-family: helvetica, sans-serif;
    font-size: 60px;
    text-align: left;
    line-height: 300px;
    color:rgb(255, 0, 85);
}
h2{
    font-family: helvetica, sans-serif;
    font-size: 60px;
    text-align: left;
    line-height: 300px;
    color: purple;
}
h3{
    font-family: helvetica, sans-serif;
    font-size: 60px;
    text-align: left;
    line-height: 300px;
    color: yellow;
}
h4{
    font-family: helvetica, sans-serif;
    font-size: 60px;
    text-align: left;
    line-height: 300px;
    color: mediumblue;
}
h1:hover, h2:hover, h3:hover, h4:hover {
    color: black;
    
	-webkit-text-stroke: 2px white;
    }
    .triangle-right {
        width: 0;
        height: 0;
        border-top: 25px solid transparent;
        border-left: 50px solid rgb(255, 255, 255);
        border-bottom: 25px solid transparent;
    }

    .triangel-right:hover{
        color: mediumturquoise;
        -webkit-text-stroke: 2px white;
    }
      