h1{
    font-family: helvetica, sans-serif;
    font-size: 300px;
    text-align: center;
    line-height: 300px;
    color:rgb(255, 0, 247);
}
body{
    background-color: orange;
}
body:hover{
    background-color: rgb(255, 0, 247);
}
h1:hover {
    color: orange;
    }
h2{
    font-family: helvetica, sans-serif;
    font-size: 200px;
    text-align: center;
    line-height: 300px;
    color:rgb(162, 0, 255);
}
    h1:hover, a:visited, a:link, a:active
    {
        /* color: black; */
        text-decoration: none;
    }

    @media screen and (max-width: 1024px){
        h1{
            font-size: 60px;
            line-height: 60px;
        }
    }