body{
    background-color: black;
}
h2{
    font-family: "Futura", "Medium", sans-serif;
    margin-left: 50px;
    line-height: 30pt;
    width: 100vw;
    padding-top: 100px;
    color: white;
}
#mydiv {
    position: absolute;
    z-index: 9;
    text-align: center;
    font-family: Arial, "Bold", sans-serif;
    font-size: 3000pt;
    line-height: 120px;
    color: white;
    /* padding-top: 100px; */
  }
  
  #mydivheader {
    padding: 10px;
    cursor: grab;
    z-index: 10;
    margin-top: 500px;
  }

  #mydiv2 {
    position: absolute;
    z-index: 9;
    text-align: center;
    font-family: Arial, "Bold", sans-serif;
    font-size: 3000pt;
    line-height: 120px;
    color: rgba(0, 0, 0, 0);
	-webkit-text-stroke: 5px white;
    /* padding-top: 100px; */
  }
  
  #mydivheader2 {
    padding: 10px;
    cursor: grab;
    z-index: 10;
    margin-top: 500px;
  }
@media screen and (max-width: 480px){
    h2{
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}
#mydiv {
    position: absolute;
    z-index: 9;
    text-align: center;
    font-family: Arial, "Bold", sans-serif;
    font-size: 800pt;
    line-height: 120px;
    color: white;
  }
  
  #mydivheader {
    padding: 10px;
    cursor: grab;
    z-index: 10;
  }

  #mydiv2 {
    position: absolute;
    z-index: 9;
    text-align: center;
    font-family: Arial, "Bold", sans-serif;
    font-size: 800pt;
    line-height: 120px;
    color: rgba(0, 0, 0, 0);
	-webkit-text-stroke: 5px white;
  }
  
  #mydivheader2 {
    padding: 10px;
    cursor: grab;
    z-index: 10;
  }
  @media screen and (max-width: 1024px){
    h2{
        font-size: 20px;
        line-height: 20px;
        margin: 10px;
    }
}

