body{
    background-color: lightblue;
}
.cow{
    padding: 20px;
    margin-top: -500px;
    display: block;
    margin-left: 50%;
   

}
#cowButton, #horseButton, #pigButton, #roosterButton{
    background-color: #5bb1cb; /* Green */
    border: none;
    color: white;
    font-family: 'Tomarik';
    font-style: normal;
    font-weight: 700;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    cursor: pointer;
    display: block;
    margin-left: 57%;
    
}
#cowButton:hover, #horseButton:hover, #pigButton:hover, #roosterButton:hover{
    background-color: #295558; /* Green */
    cursor: pointer;

}

.img{
    position: fixed;
    bottom: 100px;
    left: 100px;
    width: 100px;
    height: auto;
}

#image {
    display: none;
    position: fixed;
    top: 10px;
    left: 10px;
    
}

#tryAgain {
    display: none;
    position: fixed;
    top: 10px;
    left: 10px;
    
}

#arrow{
    width: 60px;
    height:auto;
    position: fixed;
    bottom: 100px;
    right: 100px;
    }
    #arrow:hover{
        width: 80px;
    height:auto;
    }
    #backarrow{
        width: 60px;
        height:auto;
        position: fixed;
        bottom: 100px;
        left: 100px;
        transform: rotate(180deg);
        }
        #backarrow:hover{
            width: 80px;
            height:auto;
        }

        @media only screen and (max-width: 1000px) {
            img {
                position: fixed;
                bottom: 40%;
                width: 500px;
                height: auto;
                }
            #arrow{
                width: 60px;
                height:auto;
                position: fixed;
                bottom: 100px;
                right: 100px;
            }
            #arrow:hover{
                width: 80px;
                height:auto;
            }
            .cow{
                padding: 20px;
                margin-top: -500px;
                display: block;
                margin-left: 450px;
                width: 300px;
            }
            .button{
                margin-top: 430px;
            }
        }


