body {
    background-image: url("farm2.jpeg");
    background-size: cover;
    background-color: #cccccc;
    overflow: hidden; /* Hide scrollbars */
   }

   #cow{
    padding: 20px;
    display: block;
    position: absolute;
    left: 780px;
    top: 320px;
    width: 280px;
}

#horse{
    padding: 20px;
    display: block;
    position: absolute;
    left: 280px;
    top: 300px;
    width: 400px;
    transform: rotateY(180deg);
}

#pig{
    padding: 20px;
    display: block;
    position: absolute;
    left: 1100px;
    top: 450px;
    width: 250px;
}

#goat{
    padding: 20px;
    display: block;
    position: absolute;
    left: 80px;
    top: 450px;
    width: 170px;
    transform: rotateY(180deg);
}

#rooster{
    padding: 20px;
    display: block;
    position: absolute;
    left: 670px;
    top: 450px;
    width: 80px;
    transform: rotateY(180deg);
}

#arrow{
    width: 60px;
    height:auto;
    position: fixed;
    bottom: 50px;
    left: 100px;
    transform: rotate(180deg);
    }
    #arrow:hover{
        width: 80px;
    height:auto;
    }

    .img{
        position: fixed;
        top: 10px;
        right: 100px;
        width: 500px;
        height: auto;
        transform: rotateY(180deg);
    }

    @media only screen and (max-width: 1000px) {
        img {
            position: fixed;
            bottom: 40%;
            width: 500px;
            height: auto;
            }
        #arrow{
            width: 60px;
            height:auto;
            position: fixed;
            bottom: 100px;
            right: 100px;
        }
        #arrow:hover{
            width: 80px;
            height:auto;
        }
        .rooster{
            padding: 20px;
            top: 570px;
            display: block;
            margin-left: -260px;
            width: 200px;
        }
        .button{
            margin-top: 350px;
        }
    }
